
*.json
*.iml
*.xml
*.cmake
Calc/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.exe
*.bin
*.txt
*.log
*.c
*.ninja
*.check_cache
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/cppCalc.dir/Calc/main.cpp.obj
*.obj
